extends layout/layout
block content
    header.app-bar.promote-layer
      .app-bar-container
        button.menu
          img(src='images/hamburger.svg', alt='Menu')
        h1.logo
          | Web
          strong Starter Kit
        section.app-bar-actions
          //
             Put App Bar Buttons Here 
          //
             e.g <button><i class="icon icon-star"></i></button> 
    nav.navdrawer-container.promote-layer
      h4 Navigation
      ul
        li
          a(href='#hello') Hello
        li
          a(href='#get-started') Get Started
        li
          a(href='styleguide.html') Style Guide
    main
      img(src='/images/title.jpg', class='title')
      h1#hello Hello dude from index.jade! 
      p Welcome to Web Starter
      h4 My name is Dima Valuev
     

